img {
    width:400px;
}

.category1 {
    color: red;
}

.category2 {
    color: green;
}

.category3 {
    color: yellow;
}

.category4 {
    color: orange;
}

.category5 {
    color: blue;
}

body{
    background-color: black;
    text-align: center;
}

